body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #172031;
    transition: margin-left 0.3s; /* Transição suave */
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #00000080;
    z-index: 1000;
    text-shadow: white;
    text-align: center;
}

.img-top-bar {
    width: 100px;
    height: 100px;
    padding-top: 10px;
}

.menu-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    left: 20px; /* Ajustado para ficar no canto direito */
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 124px; /* Abaixo da barra superior */
    left: -250px; /* Inicialmente escondido */
    height: calc(100% - 30px); /* Altura da página menos a barra superior */
    background-color: #000000cc;
    padding: 15px;
    transition: left 0.3s; /* Transição suave para a sidebar */
    z-index: 999; /* Um nível abaixo da barra superior */
}

    .sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .sidebar li {
        margin-bottom: 15px;
    }

    .sidebar a {
        color: white;
        text-decoration: none;
        transition: background-color 0.3s;
        display: block;
        padding: 10px;
    }

/* Ícone de perfil */
.profile-icon {
    font-size: 24px;
    color: white;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    right: 10px; /* Ajuste conforme necessário */
}

.img-perfil {
    width: 30px; /* Ajustar conforme necessário */
    height: 30px; /* Ajustar conforme necessário */
    padding-bottom: 1px;
}

/* Menu de perfil */
.profile-menu {
    position: absolute;
    top: 60px; /* Abaixo da barra superior */
    right: 20px; /* Alinhado à direita */
    background-color: #000000;
    display: none; /* Inicialmente escondido */
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
}

    .profile-menu ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .profile-menu li {
        margin: 15px;
    }

    .profile-menu a {
        color: white;
        text-decoration: none;
        padding: 5px 10px;
        display: block;
        transition: background-color 0.3s;
    }

/* Estilo das abas */
.tab {
    display: none;
    padding: 20px;
}

.tab-buttons {
    display: flex;
    justify-content: space-between; /* Distribui os botões ao longo do contêiner */
    padding: 10px;
    background-color: #00000049;
    margin-top: 60px;
}

    .tab-buttons .tab-buttons-left {
        display: flex;
        align-items: center;
    }

    .tab-buttons .tab-button {
        background-color: #00000049;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        margin-left: 10px;
    }

        .tab-buttons .tab-button:hover {
            background-color: #000000cc;
        }

        .tab-buttons .tab-button.active {
            background-color: #000000cc;
        }

    .tab-buttons .back-button {
        background-color: #00000049;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px;
        margin-right: auto; /* Move o botão para o lado esquerdo */
    }

        .tab-buttons .back-button:hover {
            background-color: #000000cc;
        }

.main-content {
    transition: margin-left 0.3s; /* Transição suave para a margem */
    margin-left: 0; /* Valor inicial */
}

/* Botões de ação */
button.editar {
    background-color: #ff9800;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

    button.editar:hover {
        background-color: #e68900;
    }

button.excluir {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s;
}

    button.excluir:hover {
        background-color: #da190b;
    }

/* Botão de submit */
button.submit-button {
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Mesmo tamanho dos inputs */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: background-color 0.3s, transform 0.2s; /* Transição suave */
}

    button.submit-button:hover {
        background-color: #45a049; /* Verde escuro */
        transform: translateY(-2px); /* Efeito de "elevação" no hover */
    }

/* Botão de cancel */
button.cancel-button {
    background-color: #cccccc; /* Cinza claro */
    color: #333; /* Texto cinza escuro */
    border: none;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%; /* Mesmo tamanho dos inputs */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
    transition: background-color 0.3s, transform 0.2s; /* Transição suave */
}

    button.cancel-button:hover {
        background-color: #a6a6a6; /* Cinza escuro */
        transform: translateY(-2px); /* Efeito de "elevação" no hover */
    }

/* Estilo geral do formulário */
form {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte */
    gap: 30px; /* Espaço entre os itens do formulário */
    max-width: 1000px; /* Ajuste o tamanho conforme necessário */
    margin: 0px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Seções do formulário */
.esquerda, .direita {
    flex: 1;
    min-width: 300px; /* Ajuste a largura mínima das seções */
    padding-right: 20px;
}

/* Alinhamento dos itens dentro das seções */
.esquerda, .direita {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os itens dentro da seção */
}

/* Alinhamento dos labels e inputs */
form label {
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o texto e o campo */
}

form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%; /* Faz com que os inputs ocupem a largura disponível da seção */
}